{{- if .NotesByType.security }}
SECURITY FIXES:

The following items patch security concerns from previous versions.

{{range .NotesByType.security -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}

{{- if .NotesByType.change }}
CHANGES:

The following items alter the behavior of the product in a way that could cause it to no longer work using
previous configuration options. If you are coming from an earlier version of the product, please pay special
attention to these to ensure you understand how these changes might impact you.

{{range .NotesByType.change -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}

{{- if .NotesByType.feature -}}
FEATURES:

The following items represent brand-new capabilities or major changes added to the product.

{{range .NotesByType.feature -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}

{{- if .NotesByType.improvement }}
IMPROVEMENTS:

The following items represent improvements to existing capabilities or the addition of small capabilities of the product.

{{range .NotesByType.improvement -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}

{{- if .NotesByType.deprecation }}
DEPRECATIONS:

The following items have been marked for deprecation in a future version of the product. If you rely on any of these,
please plan to change your usage of the product accordingly.

{{range .NotesByType.deprecation -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}

{{- if .NotesByType.bug }}
BUG FIXES:

The following items fix bugs or unexpected behavior from earlier versions of the product.

{{range .NotesByType.bug -}}
* {{ template "note" . }}
{{ end -}}
{{- end -}}
